@media all and (min-width: 376px) {
  p {
    margin-right: 1.5cm;
    margin-left: 1.5cm;
  }
}

@media all and (max-width: 376px) {
  footer nav ul {
    flex-direction: column;
    align-items: center;
  }
  
  footer nav ul li {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
  }
  
  footer nav ul li a {
    display: block;
    width: 90%;
    margin: 0 auto;
  }
}

body {
  max-width: 1000px;
  margin: auto;
  background: #cecece
}

article {
  background: white;
  padding: 15px;
  margin-bottom: 1cm;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  padding: 10px;
}

h2 {
  text-align: center;
  font-family: sans-serif;
  font-size: 36px;
}

h3 {
  text-align: center;
  font-family: sans-serif;
  padding: 10px;
  background: #304ffe;
  color: white;
  border-radius: 3px;
}

.region-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.region-column-1 {
  width: 100%;
  gap: 10px;
  text-align: center;
  border-radius: 4px;
}

.region-column-1 h3 {
  font-size: 24px;
  margin-bottom: 3px;
}

.region-column-1 p {
  width: 100%;
  padding: 5px;
  font-size: 20px;
  background: #f3f1e5;
  margin: 0;
}

.region-column {
  flex: 1;
  min-width: 300px;
  border-radius: 4px;
}

.region-column p {
  background: #f3f1e5;
  margin: 0;
  padding: 5px; 
  margin-bottom: .2cm;
}

.group-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.group-column {
  flex: 1;
  min-width: 200px;
  border-radius: 4px;
}

.group-column p {
  background: #f3f1e5;
  margin: 0;
  padding: 5px; 
  margin-bottom: .2cm;
}

.schedule-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.schedule-column {
  flex: 1;
  min-width: 200px;
  background: white;
  border-radius: 8px;
  padding: 20px;
  border: 1px solid #e0e0e0;
}

.schedule-column p {
  background: #f3f1e5;
  margin: 0;
  padding: 12px; 
  margin-bottom: 10px;
  border-radius: 5px;
}

p {
  font-size: 19px;
  font-family: arial;
}

img {
  max-width: 90%;
  height: auto;
  margin: auto;
  display: block;
}

footer {
  background: #304ffe;
  text-align: center;
  font-family: arial;
  padding: 3px;
  color: white;
}

footer nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

footer nav ul li {
  list-style: none;
  padding: 20px;
  margin-bottom: 50px;
}

footer nav ul li a {
  border: 4px solid #cecece;
  padding: 15px;
  display: inline-block;
  margin: 6px;
  text-decoration: none;
  border-radius: 7px;
  min-height: 41px;
  color: white;
}

footer nav ul li a:hover {
  background-color: #28344b;
  border-color: #000;
}

figure {
  max-width: 33%;
  float: left;
  margin: 15px 15px 0;
}

#argentina-img {
  max-width: 100%;
  max-height: 300px;
  display: block;
  border-radius: 5px;
}

#teams-img {
  max-height: 1000px;
  max-width: 80%;
}

figcaption {
  padding: 15px;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
  clear: both;
}