@media all and (min-width: 376px) {
  p {
    margin-right: 1.5cm;
    margin-left: 1.5cm;
  }
}
body {
  max-width: 1000px;
  margin: auto;
  background: #cecece
}

h1 {
  text-align: center;
  font-family: arial;
}

h2 {
  text-align: center;
  font-family: arial;
}

h3 {
  margin-left: 1.5cm;
  margin-top: 1.5cm;
  font-family: arial;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.column {
  flex: 1;
  min-width: 200px;
}

p {
  font-size: 19px;
  font-family: arial;
}

footer {
  text-align: center;
  font-family: arial;
  padding: 3px;
}

footer nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

footer nav ul li {
  list-style: none;
  padding: 20px;
  margin-bottom: 50px;
}

footer nav ul li a {
  border: 2px solid black;
  padding: 15px;
  display: inline-block;
  margin: 6px;
  text-decoration: none;
  border-radius: 5px;
  min-height: 41px;
  color: black;
}

footer nav ul li a:hover {
  background-color: #f0f0f0;
  border-color: #000;
}