#message {
  margin: 12px;
  text-align: center;
  padding: 15px 30px;
  font-size: 25px;
  font-family: arial;
  background-color: #007EBD;
  margin: auto;
  color: white;
  border-radius: 5px;
  max-width: 1000px;
  opacity: 1;
  transition: opacity .5s ease;
}

#message.dismissed {
  opacity: 0;
  height: 0;
}

#message button {
  float: right;
}

body.dark-mode {
  background: #010101;
  color: #ffffff
}

body.dark-mode button{
  background-color: #ffffff;
}

body {
  max-width: 1000px;
  margin: auto;
}

h1 {
  background-color: #007EBD;
  color: white;
  letter-spacing: -2px;
  text-shadow: 2px 2px black;
  font-family: arial;
  font-size: 34px;
  text-align: center;
  margin: auto;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px
}

h1#site-title {
  background-color: #007EBD;
  color: white;
  letter-spacing: -2px;
  text-shadow: 2px 2px black;
  font-family: arial;
  font-size: 68px;
  text-align: center;
  border-radius: 5px
}

.skip-link {
  margin: auto;
  text-align: center;
  transform: translateY(-100%);
  transition: 0.3s;
}

.skip-link:focus {
  transform: translateY(0%);
}

#attribution {
  font-family: arial;
  font-size: 16px;
  text-align: center;
}

header nav ul {
  margin: auto;
  font-size: 18px;
  list-style: none;
  border: 3px solid grey;
  padding: 10px;
  padding-top: 15px;
  border-radius: 5px;
}

header nav ul li a {
  text-decoration: none;
}

header nav ul li a:hover {
  text-decoration: underline;
}

@media all and (min-width: 768px) {
  figure.section-image {
    background-color: #8B080F;
    border-color: #007EBD;
    color: white;
    padding: 3px;
    max-width: 300px; 
    margin-left: 20px;
    margin-bottom: 20px;
  }
}

@media all and (min-width: 376px) {
  nav ul {
    display: flex;
    justify-content: center;
    gap: 3vw;
  }

  figure.section-image.odd {
    float: right;
    padding: 3px;
    max-width: 50%; 
    margin-left: 20px;
    margin-bottom: 32px;
  }

  figure.section-image.even {
    float: left;
    padding: 3px;
    max-width: 50%; 
    margin-right: 20px;
    margin-bottom: 32px;
  }

  p {
    margin-right: 1.5cm;
    margin-left: 1.5cm;
  }
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

figure img {
  max-width: 100%;
  height: auto;
  margin-bottom: 12px;
  border-radius: 5px;
}

figure {
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
}

body main article figure figcaption {
  font-family: arial;
  color: white;
}

#main {
  padding: 10px;
  margin-top: 1cm;
  margin-left: 1cm;
  margin-right: 1cm;
}

p img {
  float: right;
  max-width: 50%; 
  margin-left: 20px;
  margin-bottom: 32px;
}

figure.main-image {
  background-color: #007EBD;
  border-color: white;
  max-width: 50%;
  margin: auto;
  border-radius: 5px
}

#main-picture {
  margin: auto;
  display: block;
}

figcaption { 
  padding: 10px;
  text-align: center;
}

figure.section-image {
  margin: auto;
  background-color: #8B080F;
  border-color: #007EBD;
  color: white;
  padding: 1px;
  max-width: 100%; 
  margin-bottom: 10px;
}

figure.section-image.odd {
  padding: 3px;
  margin-left: 20px;
  margin-bottom: 16px;
  margin-right: 1cm;
}

figure.section-image.even {
  padding: 3px;
  margin-right: 20px;
  margin-bottom: 16px;
  margin-left: 1cm;
}

p {
  margin-right: 1cm;
  margin-left: 1cm;
}

h2 {
  background-color: #007EBD;
  margin-right: 1cm;
  margin-left: 1cm;
  color: white;
  padding: 10px;
  letter-spacing: -2px;
  text-shadow: 2px 2px black;
  font-family: arial;
  font-size: 34px;
  text-align: center;
  border-radius: 5px
}

article {
  margin-left: 2px;
  margin-right: 2px;
}

a {
  font-weight: bold;
  color: #8B080F
}

#page-footer {
  text-align: center;
  color: #ffffff;
  padding: 32px;
  margin-top: 150px;
  background-color: #007EBD;
}

footer nav ul {
  text-decoration: none;
  justify-content: center;
  list-style: none;
  display: flex;
  padding: 5px;
  gap: 5vw;
  font-size: 20px;
}

footer a {
  font-weight: bold;
  color: #ffffff;
}