h1 {
  background-color: #007EBD;
  color: white;
  letter-spacing: -2px;
  text-shadow: 2px 2px black;
  font-family: arial;
  font-size: 34px;
  text-align: center;
}

h1#site-title {
  background-color: #007EBD;
  color: white;
  letter-spacing: -2px;
  text-shadow: 2px 2px black;
  font-family: arial;
  font-size: 68px;
  text-align: center;
}

.skip-link {
  left: 50%;
  padding: 4px;
  font-weight: 700;
  position: absolute;
  transform: translateY(-100%);
  transition: 0.3s;
}

.skip-link:focus {
  transform: translateY(0%);
}

#attribution {
  font-family: arial;
  font-size: 16px;
  text-align: center;
}

nav ul {
  font-size: 12px;
  display: flex;
  justify-content: center;
  gap: 3vw;
  list-style: none;
  padding-left: 0;
  border: 1px solid grey;
}

figure img {
  width: 100%;
  height: auto;
  margin-bottom: 12px;
}

figure {
  border: 1px solid black;
  padding: 12px;
  padding-bottom: 24px;
}

body main article figure figcaption {
  font: arial;
  color: white;

}

#main {
  padding: 4px;
  margin-left: 1cm;
  margin-right: 1cm;
}

p img {
  float: right;
  max-width: 50%; 
  margin-left: 20px;
  margin-bottom: 32px;
}

figure.main-image {
  background-color: #007EBD;
  border-color: white
}

figure.section-image {
  background-color: #8B080F;
  border-color: #007EBD;
  color: white;
  float: right;
  padding: 3px;
  max-width: 300px; 
  margin-left: 20px;
  margin-bottom: 32px;
}

figure.section-image.odd {
  float: right;
  padding: 3px;
  max-width: 50%; 
  margin-left: 20px;
  margin-bottom: 32px;
}

figure.section-image.even{
  float: left;
  padding: 3px;
  max-width: 50%; 
  margin-right: 20px;
  margin-bottom: 32px;
}

p {
  margin-right: 1.5cm;
  margin-left: 1.5cm;
}

h2 {
  background-color: #007EBD;
  margin-right: 1cm;
  margin-left: 1cm;
  color: white;
  padding: 12px;
  letter-spacing: -2px;
  text-shadow: 2px 2px black;
  font-family: arial;
  font-size: 34px;
  text-align: center;
}

article {
  margin-left: 2px;
  margin-right: 2px;
}

a {
  font-weight: bold;
  color: #8B080F
}

nav ul li a {
  text-decoration: none;
  border: gray;
  font-size: 16px;
}

nav ul li a:hover {
  text-decoration: underline;
}

footer nav {
  display: 
  justify-content: center;
  gap: 5vw;
  list-style: none;
  padding-bottom: 12px;
  padding-top: 12px
  color: #8B080F;
}

footer nav ul li a {
  text-decoration: none;
  border: gray;
  font-size: 14px;
}