h1 {
  background-color: #007EBD;
  color: white;
  letter-spacing: -2px;
  text-shadow: 2px 2px black;
  font-family: arial;
  font-size: 34px;
  text-align: center;
}

h1#site-title {
  background-color: #007EBD;
  color: white;
  letter-spacing: -2px;
  text-shadow: 2px 2px black;
  font-family: arial;
  font-size: 68px;
  text-align: center;
}

.skip-link {
  margin: auto;
  padding: 4px;
  font-weight: 700;
  position: absolute;
  transform: translateY(-100%);
  transition: 0.3s;
}

.skip-link:focus {
  transform: translateY(0%);
}

#attribution {
  font-family: arial;
  font-size: 16px;
  text-align: center;
}

header nav ul {
  font-size: 12px;
  list-style: none;
  padding-left: 0;
  border: 1px solid grey;
}

@media all and (min-width: 768px) {
  figure.section-image {
    background-color: #8B080F;
    border-color: #007EBD;
    color: white;
    padding: 3px;
    max-width: 300px; 
    margin-left: 20px;
    margin-bottom: 20px;
  }
}

@media all and (min-width: 376px) {
  nav ul {
    display: flex;
    justify-content: center;
    gap: 3vw;
  }

  figure.section-image.odd {
    float: right;
    padding: 3px;
    max-width: 50%; 
    margin-left: 20px;
    margin-bottom: 32px;
  }

  figure.section-image.even {
    float: left;
    padding: 3px;
    max-width: 50%; 
    margin-right: 20px;
    margin-bottom: 32px;
  }
}

header nav ul li a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
}

figure img {
  max-width: 100%;
  height: auto;
  margin-bottom: 12px;
}

figure {
  border: 1px solid black;
  padding: 12px;
  padding-bottom: 24px;
}

body main article figure figcaption {
  font: arial;
  color: white;
  margin-bottom: 20px;

}

#main {
  padding: 4px;
  margin-left: 1cm;
  margin-right: 1cm;
}

p img {
  float: right;
  max-width: 50%; 
  margin-left: 20px;
  margin-bottom: 32px;
}

figure.main-image {
  background-color: #007EBD;
  border-color: white
}

figure.section-image {
  background-color: #8B080F;
  border-color: #007EBD;
  color: white;
  padding: 1px;
  max-width: 100%; 
  margin-left: 10px;
  margin-bottom: 10px;
}

figure.section-image.odd {
  padding: 3px;
  margin-left: 10px;
  margin-bottom: 16px;
}

figure.section-image.even {
  padding: 3px;
  margin-right: 10px;
  margin-bottom: 16px;
}

p {
  margin-right: 1.5cm;
  margin-left: 1.5cm;
}

h2 {
  background-color: #007EBD;
  margin-right: 1cm;
  margin-left: 1cm;
  color: white;
  padding: 12px;
  letter-spacing: -2px;
  text-shadow: 2px 2px black;
  font-family: arial;
  font-size: 34px;
  text-align: center;
}

article {
  margin-left: 2px;
  margin-right: 2px;
}

a {
  font-weight: bold;
  color: #8B080F
}

#page-footer {
  text-align: center;
  color: #ffffff;
  padding: 32px;
  margin-top: 150px;
  background-color: #007EBD;
}

footer nav ul {
  text-decoration: none;
  justify-content: center;
  list-style: none;
  display: flex;
  padding: 5px;
  gap: 5vw;
  font-size: 20px;
}

footer a {
  font-weight: bold;
  color: #ffffff;
}